/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --bg-color: #000028;
  --title-color: #DB00FF;
  --accent-color: #FF0070;
  --text-color: #F1B2CE;
  --main-font: 'IBM Plex Mono'; 
  --headings-menu-color: #FF0070;
  --article-header-text-color: #000028;
  --bg-image: url(../images/cover-image-dark.png);
  --rec-display: flex;
  --border-opacity-color: #FF007066;
}
